.container {
  display: flex;
  align-items: center;   /* vertically align */
  justify-content: space-between;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.text {
  background-color: #959e92ff;
  width: 100%;
  height: 100%;
  text-align: center;
}